infra/secrets/*
!infra/secrets/.gitignore
!infra/secrets/README.md

media_library/*.m3u8
media_library/*.ts

.env

backend/target/
backend/.idea/

frontend/node_modules/
frontend/.next/

streaming/build/
streaming/videos/*
!streaming/videos/.gitkeep
!streaming/videos/README.md

infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup

**/playlist.m3u8
**/*.m3u8
segment*.ts
